@mixin box-common {
  width: 200px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
}

.cloud {
  @include box-common;
  border: solid 2px #2b602f;
}

.error {
  @include box-common;
  border: solid 2px #f52828;
  background-color: #fff;
  color: #f52828;
}
